# archivo de configuración para ansible-csr1000v 
(Predeterminado: )
# Usar el archivo hosts locales en esta carpeta
inventario=./hosts 
host_key_checking = False # No se preocupes por las huellas dactilares de RSA
retry_files_enabled = False # No los cree
deprecation_warnings = False # No mostrar advertencias
dd to this file for the Ansible lab
